*.swp

.idea/*

open-bank/.idea/*
open-bank/*.class
open-bank/build/*
open-bank/.gradle/*
open-bank/.DS_Store

OpenBankApplication/.idea/*
OpenBankApplication/*.class
OpenBankApplication/build/*
OpenBankApplication/app/build/*
OpenBankApplication/.gradle/*
OpenBankApplication/app/build.gradle
OpenBankApplication/.DS_Store

OpenBankApplication/*.iml
OpenBankApplication/app/*.iml
OpenBankApplication/local.properties
OpenBankApplication/.idea/workspace.xml
OpenBankApplication/.idea/libraries
OpenBankApplication/captures
OpenBankApplication/.externalNativeBuild
